@font-face {
    font-family: "foxonrun";
    src:url("../Fox-on-the-Run-Leftalic/foxontherun.ttf");
}
@font-face {
    font-family: "foxonrun-italic";
    src:url("../Fox-on-the-Run-Leftalic/foxontherunital.ttf");
}
.font-foxonrun{
    font-family: "foxonrun"!important;
}
.font-foxonrun-italic{
    font-family: "foxonrun-italic"!important;
}
.c-input-rounded {
    border-radius: 10px;
    width: 600px;
    color: rgb(138, 138, 138);
    background-color: #3c485804;
    border: 1px solid #3C4858;
    outline: none;
    padding: 8px;
}
.c-input-rounded-wrapper .c-input-rounded{
    padding-left: 35px;
}
.c-input-rounded-wrapper .input-group-text{
    position: absolute;
    top:0;
    bottom:0;
    left: -1%;
    font-size: 18px;
}

.rounded-circle-icon {
    text-align: center;
    position: relative;
}
.rounded-circle-icon:hover{
    color:white;
}
.rounded-circle-icon:before{
    content:'';
    position:absolute;
    top:-8px;
    left:-10px;
    width:40px;
    height: 40px;
    border: 1px solid #3C4858;
    border-radius: 50%;
    padding:50%;
}
.rounded-circle-icon:hover:before{
    background-color: rgba(255, 255, 255, 0.315);
}
.rounded-circle-fa-icon{

    display:flex;
    justify-content: center;
    align-items: center;
        width:40px;
        height: 40px;
        border: 1px solid #3C4858;
        border-radius: 50%;
}
.rounded-circle-fa-icon i{
  margin:0px!important;
  top:-2px!important;
  font-size:1rem!important;
}
.rounded-circle-fa-icon:hover{
    background-color: rgba(255, 255, 255, 0.315);
    color:white;
}
.navbar .collapse .navbar-nav .nav-item .nav-link{
    padding: 5px;
}
.sidebar .sidebar-wrapper .profile-card {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sidebar .sidebar-wrapper .profile-card .col-8{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.sidebar .sidebar-wrapper .profile-card .col-4{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar .sidebar-wrapper .profile-card .col-4 .user-img img{
    width:50px;
    height: 40px;
    border-radius: 50%;
    outline:2px solid rgba(1, 47, 146, 0.651)

}
.sidebar .sidebar-wrapper .profile-card .col-4 .user-img{
    position: relative;
}
.sidebar .sidebar-wrapper .profile-card .col-4 .user-img.online::after{
    content:'';
    height: 10px;
    width: 10px;
    background-color: rgb(7, 196, 92);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom:0;
    left:70%;
}
.seperator{
    width:100%;
    border-top:1px solid rgba(255, 255, 255, 0.562);

}
.form-control:-webkit-autofill, .form-control:-webkit-autofill:focus{
    -webkit-text-fill-color: rgba(255, 255, 255, 0.78) !important;
    -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
    transition: background-color 5000s ease-in-out 0s;
}
.form-group .bmd-label-static{
    top:-22px!important;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator,input[type="datetime-local"]::-webkit-inner-spin-button{
    /*-webkit-text-fill-color: yellow;*/
 /*border-color:white;*/

    background-color: rgb(255, 255, 255);

    border-radius: 3px;
}
input[type="datetime-local"]:focus::-webkit-calendar-picker-indicator{
    background-color:#2798e8 ;
}
.bg-card-body{
    background-color:#202940!important;
}
.bg-card-body:focus{
    box-shadow: none;
    outline: none!important;
    border-color:#2798e8!important;
}
/* .online{

    height: 10px;
    width: 10px;
    background-color: rgb(7, 196, 92);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left:5%;
   

} */
.ticket {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 450px;
    margin: 150px auto 0;
    padding: 20px;
    border-radius: 10px;
    background: #ffffe0;
    box-shadow: 2px 2px 15px 0px #AB9B0D;
}
.ticket:before, .ticket:after {
    content: "";
    position: absolute;
    left: 5px;
    height: 6px;
    width: 290px;
}
.ticket:before {
    top: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, #ffffe0 50%, #ffffe0 100%) -7px -8px/16px 16px repeat-x;
}
.ticket:after {
    bottom: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, #ffffe0 50%, #ffffe0 100%) -7px -2px/16px 16px repeat-x;
}
.ticket-camera{
    width:100%;
    height: 180px;
}

/*#FBFBFB*/
/*.ticket {*/
/*    !*display: inline-block;*!*/
/*    !*box-sizing: content-box;*!*/
/*    !*filter: drop-shadow(0 2px 5px rgba(0,0,0, 0.5));*!*/
/*    !*position :relative;*!*/
/*    !*height :1em;*!*/
/*    padding: 1em;*/
/*    color: black;*/
/*    font-size: 16px;*/
/*    background-size: 51% 100%!important;*/
/*    background-repeat: no-repeat!important;*/
/*    background-image:radial-gradient(circle at 0 50%, rgba(255,255,224,0) 0.4em, #ffffe0 0.5em), radial-gradient(circle at 100% 50%, rgba(255,255,224,0) 0.4em, #ffffe0 0.5em)!important;*/
/*    background-image: radial-gradient(circle at 0 50%, rgba(lightyellow,0) .4em, lightyellow (.4em + .1em)), radial-gradient(circle at 100% 50%, rgba(lightyellow,0) .4em, lightyellow (.4em + .1em));*/
/*    background-position: top left, top right!important;*/
/*}*/
@media screen and (max-width:500px){
    .c-input-rounded{
            width:60vw!important;
    }
    .navbar .dropdown.show .dropdown-menu.custom-dropdown, .navbar .dropdown .dropdown-menu.custom-dropdown{
        overflow:hidden!important;
        position: absolute!important;
        left:-150%!important;
        height:auto!important;
        background-color:rgb(43, 61, 87);
    }
}
@media screen and (min-width:501px) and (max-width:768px)  {
    .c-input-rounded{
        width:70vw!important;
}
.navbar .dropdown.show .dropdown-menu.custom-dropdown, .navbar .dropdown .dropdown-menu.custom-dropdown{
    overflow:hidden!important;
    position: absolute!important;
    left:-150%!important;
    height:auto!important;
    background-color:rgb(43, 61, 87);
}
}

@media screen  and (min-width:769px) and (max-width:991px){
    .c-input-rounded{
        width:500px
}
.navbar .dropdown.show .dropdown-menu.custom-dropdown, .navbar .dropdown .dropdown-menu.custom-dropdown{
    overflow:hidden!important;
    position: absolute!important;
    left:-150%!important;
    height:auto!important;
    background-color:rgb(43, 61, 87);
}
.navbar .dropdown.show .dropdown-menu.custom-dropdown, .navbar .dropdown .dropdown-menu .dropdown-item.custom-dropdown{
    margin:0px;
}
.navbar .dropdown.show .dropdown-menu.custom-dropdown, .navbar .dropdown .dropdown-menu .dropdown-item.custom-dropdown p{
    margin:0px;
}
 .navbar .dropdown .dropdown-menu a:hover{
   background:rgba(200, 200, 200, 0.05)!important;
   box-shadow: none!important;
}
}

